/* Styling for organizers profile wrapper */
.organizers-profile-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #e4e8ec;
}

/* Styling for organizers profile container */
.organizers-profile-container {
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
}

/* Styling for organizers profile heading */
.organizers-profile-heading {
  font-size: 36px;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
}

/* Styling for organizers profile description */
.organizers-profile-description {
  font-size: 18px;
  color: black;
  margin-bottom: 60px;
  margin-left: 22px;
}

/* Styling for organizers profile cards container */
.organizers-profile-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 40px;
}

/* Styling for organizers profile animation */
.organizers-profile-animation {
  width: 600px;
  height: 400px;
}

/* Styling for organizers profile card */
.organizers-profile-card {
  flex: 1;
  padding: 8px;
  background-color: #818f9f;
  text-align: center;
  text-decoration: none;
  color: black;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

/* Styling for the hover state of the organizers profile card */
.organizers-profile-card:hover {
  background-color: #5a6b7e;
}

/* Styling for organizers profile card body */
.organizers-profile-card-body {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Styling for the hovered state of the organizers profile card body */
.organizers-profile-card-body:hover {
  background-color: #f8f8f8;
}

/* Styling for organizers profile card title */
.organizers-profile-card-title {
  font-size: 26px;
  margin-bottom: 8px;
}

/* Styling for organizers profile card description */
.organizers-profile-card-description {
  font-size: 16px;
  color: black;
}

/* Media query for screens with max width of 1366px */
@media (max-width: 1366px) {
  /* Styling for organizers profile animation */
  .organizers-profile-animation {
    width: 500px;
    height: 400px;
  }
}

/* Media query for screens with max width of 1200px */
@media (max-width: 1200px) {
  /* Styling for organizers profile heading */
  .organizers-profile-heading {
    font-size: 32px;
  }

  /* Styling for organizers profile description */
  .organizers-profile-description {
    font-size: 18px;
    margin-bottom: 0px;
  }

  /* Styling for organizers profile cards container */
  .organizers-profile-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
  }

  /* Styling for organizers profile animation */
  .organizers-profile-animation {
    width: 100%;
    height: 400px;
  }

  /* Styling for organizers profile card */
  .organizers-profile-card {
    flex-basis: calc(50% - 15px);
  }

  /* Styling for organizers profile card body */
  .organizers-profile-card-body {
    height: 18vh;
  }

  /* Styling for organizers profile card title */
  .organizers-profile-card-title {
    font-size: 22px;
  }

  /* Styling for organizers profile card description */
  .organizers-profile-card-description {
    font-size: 16px;
  }
}

/* Media query for screens with max width of 1000px */
@media (max-width: 1000px) {
  /* Styling for organizers profile heading */
  .organizers-profile-heading {
    font-size: 28px;
    margin-left: 15px;
  }

  /* Styling for organizers profile description */
  .organizers-profile-description {
    font-size: 16px;
    margin-bottom: 15px;
    margin-left: 17px;
  }

  /* Styling for organizers profile card title */
  .organizers-profile-card-title {
    font-size: 20px;
  }

  /* Styling for organizers profile card description */
  .organizers-profile-card-description {
    font-size: 14px;
  }
}

/* Media query for screens with max width of 600px */
@media (max-width: 600px) {
  /* Styling for organizers profile cards container */
  .organizers-profile-cards-container {
    flex-direction: column;
  }

  /* Styling for organizers profile card */
  .organizers-profile-card {
    width: 100%;
  }
}

/* Media query for screens with max width of 480px */
@media (max-width: 480px) {
  /* Styling for organizers profile container */
  .organizers-profile-container {
    padding-left: 16px;
    padding-right: 16px;
  }

  /* Styling for organizers profile heading */
  .organizers-profile-heading {
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 10px;
  }

  /* Styling for organizers profile description */
  .organizers-profile-description {
    font-size: 14px;
    margin-bottom: 20px;
    margin-left: 12px;
    height: 20px;
  }

  /* Styling for organizers profile animation */
  .organizers-profile-animation {
    width: 100%;
    height: 300px;
  }

  /* Styling for organizers profile card */
  .organizers-profile-card {
    margin-top: 10px;
    padding: 8px;
  }

  /* Styling for organizers profile card title */
  .organizers-profile-card-title {
    font-size: 18px;
    margin-bottom: 6px;
  }

  /* Styling for organizers profile card description */
  .organizers-profile-card-description {
    font-size: 12px;
  }
}

/* Media query for screens with max width of 380px */
@media (max-width: 380px) {
  /* Styling for organizers profile heading */
  .organizers-profile-heading {
    margin-left: 5px;
  }

  /* Styling for organizers profile description */
  .organizers-profile-description {
    margin-left: 7px;
    margin-bottom: 40px;
  }

  /* Styling for organizers profile cards container */
  .organizers-profile-cards-container {
    padding-left: 5px;
    padding-right: 5px;
  }

  /* Styling for organizers profile animation */
  .organizers-profile-animation {
    width: 100%;
    height: 200px;
  }

  /* Styling for organizers profile card */
  .organizers-profile-card {
    min-width: 150px;
    padding: 6px;
  }

  /* Styling for organizers profile card body */
  .organizers-profile-card-body {
    height: 15vh;
  }
}
