/* Styling for the manage tournaments wrapper */
.manage-tournaments-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f5f5;
}

/* Styling for the manage tournaments heading */
.manage-tournaments-heading {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Styling for the dropdown */
.manage-tournaments-tournament-dropdown {
  width: 200px;
  margin: 20px 30px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

/* Styling for the card container */
.manage-tournaments-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

/* Styling for the tournament card */
.manage-tournaments-tournament-card {
  width: 100%;
  max-width: 350px;
  height: 250px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  margin: 20px;
  background-color: #cdcdcd;
  cursor: pointer;
  background-size: cover;
  background-position: center;
}

/* Styling for the hover state of the tournament card */
.manage-tournaments-tournament-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Styling for the tournament card content */
.manage-tournaments-card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Styling for the tournament card title */
.manage-tournaments-card-title {
  padding: 10px;
  font-weight: 400;
  color: black;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
}

/* Styling for the tournament card image */
.manage-tournaments-card-image {
  flex-grow: 1;
  background-size: cover;
  background-position: center;
}

/* Styling for anchor elements */
a {
  text-decoration: none;
}

/* Media query for screens with max width of 480px */
@media (max-width: 480px) {
  /* Styling for the tournament card */
  .manage-tournaments-tournament-card {
    max-width: 200px;
    height: 200px;
  }

  /* Styling for the tournament card title */
  .manage-tournaments-card-title {
    font-size: 16px;
  }
}
